html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pnotify-pre-line {
  line-height: initial;
}

.submit-btn {
  border-left: none
}