html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pnotify-pre-line {
  line-height: initial;
}

.photo-catd--image,
.basicLightbox {
  cursor: pointer;
}

.large-image {
  z-index: 2;
}

.basicLightbox__placeholder {
  position: relative;
}

.control-btn,
.control-loader {
  position: fixed;
  left: 0;
  top: 50vh;
  z-index: 1000;
}