<div class="control-modal">
    <button type="button" class="control-btn prev-btn">prev</button>
    <button type="button" class="control-btn next-btn">next</button>
    {{!-- <div class="loader-ellips control-loader">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
</div> --}}
</div>