<div class="control-modal">
    <i class="material-icons control-btn btn btn-dark prev-btn">arrow_back</i>
    <i class="material-icons control-btn btn btn-dark next-btn">arrow_forward</i>
    <div class="loader-ellips control-loader">
        <span class="loader-ellips__dot control-loader__dot"></span>
        <span class="loader-ellips__dot control-loader__dot"></span>
        <span class="loader-ellips__dot control-loader__dot"></span>
        <span class="loader-ellips__dot control-loader__dot"></span>
    </div>
</div>