.container {
  padding: 90px 0 10px 0;
}

.search-form {
  margin: 0;
}

.clear-btn {
  width: 36px;
  padding: 0;
}

.search-form-js {
  padding: 50px 0;
}

.fixed {
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.fixed + .line-js {
  margin-top: 137px;
}

.container,
.fixed {
  @media screen and (max-width: 425px) {
    width: 220px;
  }

  @media screen and (min-width: 426px) and (max-width: 767px) {
    width: 380px;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    width: 640px;
  }

  @media screen and (min-width: 992px){
    width: 960px;
  }
}